{{#.}}
    {{#each list}}
        <li data-id="{{id}}" class="contact-item">
            <a href="contact.html?id={{id}}" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{subject}}</div>
                        </div>
                        <div class="item-subtitle">{{create_time}}</div>
                    </div>
                </div>
            </a>
        </li>
    {{/each}}
{{/.}}